<div class="headerTop">
    <div class="templateTitle">
        @Html.ActionLink("Project Title", "Index", "Home")
    </div>
</div>
<div class="headerMenu">
    	@* DXCOMMENT: Configure the header menu *@
    <div style="border: 1px solid black; width: 100%; background-color: #F0F0F0;">
        <div style="float: left">
            @Html.DevExpress().Menu(settings =>
            {
                settings.Name = "mLeft";
                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            
                settings.Items.Add("Item 1");
                settings.Items.Add("Item 2");
                settings.Items.Add("Item 3");
            }).GetHtml()
        </div>
        <div style="float: right">
            @Html.ActionLink("Mi Cuenta", "ChangePassword", "Accounts")
        </div>
        <div style="clear: both">
        </div>
    </div>

</div>